<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boutique</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/store_building_market_shop_icon_207733.png" type="image/x-icon">
</head>
<body id="container-grid">
    <nav>
        <a href="../index.html">
            <img src="../img/Logo.jpg" alt="Logo presentacion de Boutique" class="imagenAlto">
        </a>
        <ul>
            <li><a href="../views/Invierno2022.html">Invierno2022</a></li>
            <li><a href="../views/Vintage.html">Vintage</a></li>
            <li><a href="../views/Nosotros.html">Nosotros</a></li>
            <li><a href="../views/Contacto.html#Contacto">Contacto</a></li>
        </ul> 
    </nav>
    <header>
        <a href="../index.html">
            <img src="../img/mediamodifier-kJXGTOY1wLQ-unsplash.jpg" alt="Foto Presentacion de Invierno2022">
        </a>  
    </header>
    <main>
        <h2 class="textLeft">Elija producto, talle, color y agreguelo al carrito</h2>
        <section>
            <h3 class="textTittle">Pantalones</h3>
            <div class="seccion1">
                <figure>
                    <img src="../img/mom.webp" alt="Foto Pantalón Mom Jeans">
                    <figcaption>Pantalón Mom Jeans</figcaption>
                    <p>$10000</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>  
                    </div>
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>    
                    </div>      
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
                <figure>
                    <img src="../img/jeansroto.webp" alt="Pantalón de Jeans Chupin con roturas en las rodillas">
                    <figcaption>Pantalón de Jeans con roturas</figcaption>
                    <p>$10000</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>  
                    </div>
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>    
                    </div>         
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
                <figure>    
                    <img src="../img/sastrero.webp" alt="Pantalón Sastrero">
                    <figcaption>Pantalón Sastrero</figcaption>
                    <p>$8000</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>  
                    </div>
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>    
                    </div>    
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
            </div>
        </section>   
        <section>
            <h3 class="textTittle">Sweater</h3>
            <div class="seccion2">
                <figure>
                    <img src="../img/sweaterliso.webp" alt="Sweater de lana liso">
                    <figcaption>Sweater Liso</figcaption>
                    <p>$7500</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>  
                    </div>
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>    
                    </div>    
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>  
                </figure>
                <figure>
                    <img src="../img/cardigan.webp" alt="Cardigan liso">
                    <figcaption>Cardigan Liso</figcaption>
                    <p>$7500</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>  
                    </div>
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="violeta">violeta</option>
                        </select>    
                    </div>    
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>  
                </figure>
                <figure>
                    <img src="../img/sweatertrenzado.webp" alt="Sweater de lana trenzado">
                    <figcaption>Sweater de lana trenzados</figcaption>
                    <p>$7500</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>  
                    </div>
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>    
                    </div>    
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
                <figure>
                    <img src="../img/buzo.webp" alt="Buzo liso con capucha">
                    <figcaption>Buso liso</figcaption>
                    <p>$8000</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>  
                    </div>
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="beige">beige</option>
                            <option value="azul">azul</option>
                            <option value="rosa">rosa</option>
                        </select>    
                    </div>    
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
                <figure>
                    <img src="../img/sweatert.webp" alt="Sweater de lana con ochos">
                    <figcaption>Sweater de lana con detalle de ochos</figcaption>
                    <p>$7500</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>  
                    </div>
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>    
                    </div>    
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
            </div>    
        </section>
        <section>
            <h3 class="textTittle">Remeras y camisas</h3>
            <div class="seccion3">
                <figure>
                    <img src="../img/camisa.webp" alt="Camisa estampada mangas largas">
                    <figcaption>Camisa estampada</figcaption>
                    <p>$5500</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>  
                    </div>
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>    
                    </div>    
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
                <figure>
                    <img src="../img/polmorley.webp" alt="Polera de morley lisa manga larga">
                    <figcaption>Polera de morley</figcaption>
                    <p>$2400</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>  
                    </div>
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>    
                    </div>    
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
                <figure>
                    <img src="../img/poleraalgodon.webp" alt="Polera lisa de algodón">
                    <figcaption>Polera de algodón</figcaption>
                    <p>$3500</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>  
                    </div>
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>    
                    </div>    
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
                <figure>
                    <img src="../img/blusacruzada.webp" alt="Blusa cruzada lisa de gasa mangas largas">
                    <figcaption>Blusa cruzada</figcaption>
                    <p>$3500</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </div>   
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>
                    </div>
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
                <figure>
                    <img src="../img/remeramll.webp" alt="Remeras de algodón manga larga">
                    <figcaption>Remera de algodón</figcaption>
                    <p>$3500</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </div>   
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>
                    </div>
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
            </div>
        </section>
        <section>
            <h3 class="textTittle">Abrigos</h3>
            <div class="seccion4">
                <figure>
                    <img src="../img/abrigoPaño.webp" alt="Tapado largo de paño">
                    <figcaption>Tapado largo de paño</figcaption>
                    <p>$15000</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>  
                    </div>
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>    
                    </div>    
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
                <figure>
                    <img src="../img/abrigoCuero.webp" alt="Tapado largo de cuero">
                    <figcaption>Tapado de cuero</figcaption>
                    <p>$13000</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>  
                    </div>
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                        </select>    
                    </div>    
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
                <figure>
                    <img src="../img/campera.webp" alt="Campera inflada larga">
                    <figcaption>Campera larga</figcaption>
                    <p>$11000</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>  
                    </div>
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                        </select>    
                    </div>    
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
                <figure>
                    <img src="../img/camperacorta.webp" alt="Campera corta inflada">
                    <figcaption>Campera corta inflada</figcaption>
                    <p>$9500</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>  
                    </div>
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>    
                    </div>    
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
            </div>
        </section>
        <section>
            <h3 class="textTittle">Accesorios</h3>
            <div class="seccion5">
                <figure>
                    <img src="../img/gorraLana.webp" alt="Gorro tejido de lana">
                    <figcaption>Gorro de lana</figcaption>
                    <p>$1500</p>
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>    
                    </div>    
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
                <figure>
                    <img src="../img/guantes.webp" alt="Guantes gamuzados">
                    <figcaption>Guantes gamuzados</figcaption>
                    <p>$3000</p>
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>    
                    </div>    
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
                <figure>
                    <img src="../img/bufanda.webp" alt="Bufanda a cuadros de lana">
                    <figcaption>Bufanda</figcaption>
                    <p>$3500</p>
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>    
                    </div>    
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
            </div>
        </section>
        <section>
                <h2>Tabla de talles de Indumentaria</h2>
                <table>
                    <tr class="interColor">
                        <th>Talle</th>
                        <th>Busto</th>
                        <th>Cintura</th>
                        <th>Cadera</th>
                    </tr>
                    <tr>
                        <td>XS</td>
                        <td>82cm</td>
                        <td>64cm</td>
                        <td>90cm</td>
                    </tr>
                    <tr>
                        <td>S</td>
                        <td>86cm</td>
                        <td>68cm</td>
                        <td>94cm</td>
                    </tr>
                    <tr>
                        <td>M</td>
                        <td>90cm</td>
                        <td>72cm</td>
                        <td>98cm</td>
                    </tr>
                    <tr>
                        <td>L</td>
                        <td>94cm</td>
                        <td>76cm</td>
                        <td>102cm</td>
                    </tr>
                    <tr>
                        <td>XL</td>
                        <td>98cm</td>
                        <td>80cm</td>
                        <td>106cm</td>
                    </tr>
                </table>    
        </section>
        <section>       
            <h2 class="textLeft">Formas de pago:</h2>
            <p>Efectivo, Tarjetas de Crédito, Tarjetas de Débito, Transferencias y Mercado Pago.</p>
        </section>
    </main>
    <footer>
        <h3>Seguinos en nuestras redes sociales</h3>
        <div>
            <a href="https://www.facebook.com" target="_blank">
                <img src="../img/Facebook-icon.png" alt="Facebook">
            </a>
            <a href="https://www.twitter.com" target="_blank">
                <img src="../img/Twitter-icon.png" alt="Twitter">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="../img/Instagram-icon.png" alt="Instagram">
            </a>
        </div>
    </footer>
</body>
</html>