<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boutique</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/store_building_market_shop_icon_207733.png" type="image/x-icon">
</head>
<body id="contenedor-grid">
    <nav>
        <a href="../index.html">
            <img src="../img/Logo.jpg" alt="Logo presentacion de Boutique" class="imagenAlto">
        </a>
        </a>
        <ul>
            <li><a href="../views/Invierno2022.html">Invierno2022</a></li>
            <li><a href="../views/Vintage.html">Vintage</a></li>
            <li><a href="../views/Nosotros.html">Nosotros</a></li>
            <li><a href="../views/Contacto.html#Contacto">Contacto</a></li>
        </ul> 
    </nav>
    <header>
        <a href="../index.html">
            <img src="../img/clarissa-watson-69shQ1GRiDY-unsplash.jpg" alt="Foto Presentacion de Nuestra tienda Boutique">
            </a>  
    </header>
    <main class="textSpace textRegular">
        <h2>Sobre nosotros</h2>
        <p><strong>Boutique</strong> es una marca argentina que acompaña la dinámica de vida de la mujer contemporánea desde el año 2003 que abrimos nuestras puertas, acercándole una amplia variedad de prendas y accesorios inspirados en las últimas tendencias de moda.</p>
        <p>Nuestra gran variedad, amalgama diseño con funcionalidad y asegura un justo equilibrio entre calidad y accesibilidad, permitiendo que cada mujer pueda recrear su propio estilo y potenciar lo mejor de si misma.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, cum repudiandae. Amet ad porro iure quos necessitatibus explicabo, distinctio aspernatur corporis molestiae consectetur perferendis unde incidunt molestias recusandae magni minus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor expedita nulla error qui totam deleniti vero enim dignissimos. Aliquam, laudantium nam omnis temporibus blanditiis suscipit id obcaecati voluptate rerum quasi.
        </p>
    </main>
    <footer>
        <h3>Seguinos en nuestras redes sociales</h3>
        <div>
            <a href="https://www.facebook.com" target="_blank">
                <img src="../img/Facebook-icon.png" alt="Facebook">
            </a>
            <a href="https://www.twitter.com" target="_blank">
                <img src="../img/Twitter-icon.png" alt="Twitter">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="../img/Instagram-icon.png" alt="Instagram">
            </a>
        </div>
    </footer>
</body>
</html>