<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boutique</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/store_building_market_shop_icon_207733.png" type="image/x-icon">
</head>
<body id="container-grid">
    <nav>
        <a href="../index.html">
            <img src="../img/Logo.jpg" alt="Logo presentacion de Boutique" class="imagenAlto">
        </a>
        <ul>
            <li><a href="../views/Invierno2022.html">Invierno2022</a></li>
            <li><a href="../views/Vintage.html">Vintage</a></li>
            <li><a href="../views/Nosotros.html">Nosotros</a></li>
            <li><a href="../views/Contacto.html#Contacto">Contacto</a></li>
        </ul> 
    </nav>
    <header>
        <a href="../index.html">
            <img src="../img/cat-han-ZP2fH6vGvcg-unsplash.webp" alt="Foto Presentacion de Vintage">
            </a>  
    </header>
    <main>
        <h2 class="textLeft">Elija producto, talle, color y agreguelo al carrito</h2>
        <section>
            <h3 class="textTittle">Pantalones</h3>
            <div class="seccion1">
                <figure>
                    <img src="../img/chupinv.webp" alt="Pantalón de jeans chupin">
                    <figcaption>Pantalón de jeans</figcaption>
                    <p>$7000</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </div>   
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>
                    </div>
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
                <figure>
                    <img src="../img/momv(1).webp" alt="Pantalón de jeans mom">
                    <figcaption>Jeans mom</figcaption>
                    <p>$8000</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </div>   
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>
                    </div>
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
                <figure>
                    <img src="../img/sastrerov.webp" alt="Pantalón sastrero de verano">
                    <figcaption>Pantalón sastrero</figcaption>
                    <p>$5000</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </div>   
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>
                    </div>
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
            </div>
        </section>
        <section>
            <h3 class="textTittle">Remeras</h3>
            <div class="seccion2">
                <figure>
                    <img src="../img/remeramc.webp" alt="Remera de algodón manga corta con estampa">
                    <figcaption>Remera de algodón</figcaption>
                    <p>$2000</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </div>   
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>
                    </div>
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
                <figure>    
                    <img src="../img/morleymc.webp" alt="Remera de morley lisa manga corta con escote princesa">
                    <figcaption>Remera lisa de morley</figcaption>
                    <p>$3000</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </div>   
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>
                    </div>
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
                <figure>
                    <img src="../img/toprayado.webp" alt="Top rayado de algodón mangas cortas">
                    <figcaption>Top rayado</figcaption>
                    <p>$2000</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </div>   
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>
                    </div>
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
                <figure>
                    <img src="../img/blusa.webp" alt="Blusa de vestir de gasa lisa">
                    <figcaption>Blusa de vestir</figcaption>
                    <p>$5000</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </div>   
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>
                    </div>
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
            </div>    
        </section>   
        <section>
            <h3 class="textTittle">Abrigos</h3>
            <div class="seccion3">
                <figure>
                    <img src="../img/camperacuero.webp" alt="Campera de cuero">
                    <figcaption>Campera de cuero</figcaption>
                    <p>$10000</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </div>   
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                        </select>
                    </div>
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
                <figure>
                    <img src="../img/camperajeans.webp" alt="campera de jeans">
                    <figcaption>Campera de jeans</figcaption>
                    <p>$7000</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </div>   
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="azul">azul</option>
                        </select>
                    </div>
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
                <figure>
                    <img src="../img/sacoverano.webp" alt="Saco de algodón rayada sin botones">
                    <figcaption>Saco rayado</figcaption>
                    <p>$5000</p>
                    <div>
                        <label for="talle">Talle</label>
                        <select class="input" id="talle" name="talle" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </div>   
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>
                    </div>
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
            </div>    
        </section> 
        <section>
            <h3 class="textTittle">Accesorios</h3>
            <div class="seccion4">
                <figure>
                    <img src="../img/carteraverano.webp" alt="Cartera de cuero">
                    <figcaption>Cartera de cuero</figcaption>
                    <p>$7000</p> 
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>
                    </div>
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
                <figure>
                    <img src="../img/sombrero.webp" alt="Sombrero">
                    <figcaption>Sombrero liso</figcaption>
                    <p>$2500</p>   
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>
                    </div>
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
                <figure>
                    <img src="../img/Pañuelo.webp" alt="Pañuelo estampado de seda">
                    <figcaption>Pañuelo de seda</figcaption>
                    <p>$1500</p>
                    <div>
                        <label for="color">Color</label>
                        <select class="input" id="color" name="color" required>
                            <option value="negro">negro</option>
                            <option value="blanco">blanco</option>
                            <option value="marrón">marrón</option>
                            <option value="azul">azul</option>
                            <option value="verde">verde</option>
                        </select>
                    </div>
                    <button class="textSpace colorButton spaceButton">Agregar al carrito</button>
                </figure>
            </div>    
        </section>
        <section>
            <h2>Tabla de talles de Indumentaria</h2>
            <table class="scale">
                <tr class="interColor">
                    <th>Talle</th>
                    <th>Busto</th>
                    <th>Cintura</th>
                    <th>Cadera</th>
                </tr>
                <tr>
                    <td>XS</td>
                    <td>82cm</td>
                    <td>64cm</td>
                    <td>90cm</td>
                </tr>
                <tr>
                    <td>S</td>
                    <td>86cm</td>
                    <td>68cm</td>
                    <td>94cm</td>
                </tr>
                <tr>
                    <td>M</td>
                    <td>90cm</td>
                    <td>72cm</td>
                    <td>98cm</td>
                </tr>
                <tr>
                    <td>L</td>
                    <td>94cm</td>
                    <td>76cm</td>
                    <td>102cm</td>
                </tr>
                <tr>
                    <td>XL</td>
                    <td>98cm</td>
                    <td>80cm</td>
                    <td>106cm</td>
                </tr>
            </table>    
    </section>
        <section>
            <h2 class="textLeft">Formas de pago:</h2>
            <p>Efectivo, Tarjetas de Crédito, Tarjetas de Débito, Transferencias y Mercado Pago.</p>
        </section>
        </main>
    <footer>
        <h3>Seguinos en nuestras redes sociales</h3>
        <div>
            <a href="https://www.facebook.com" target="_blank">
                <img src="../img/Facebook-icon.png" alt="Facebook">
            </a>
            <a href="https://www.twitter.com" target="_blank">
                <img src="../img/Twitter-icon.png" alt="Twitter">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="../img/Instagram-icon.png" alt="Instagram">
            </a>
        </div>
    </footer>
</body>
</html>